.footer {
  background-color: $primary-text;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  @media #{$desktop} {
    flex-wrap: wrap;
  }
  @media #{$phone} {
    flex-direction: column;
  }
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 79px;
  @media #{$desktop} {
    margin-bottom: 40px;
  }
}

.footer-left__top {
  .footer-left__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 45px;
    margin-top: 10px;
    @media only screen and (max-width: 400px) {
      flex-direction: column;
      gap: 20px;
    }

    .footer__lists {
      li {
        margin-bottom: 10px;
        a {
          font-family: $primary;
          color: $white;
          font-weight: 400;
          font-size: 1.1rem;
          line-height: 24px;
          &:hover {
            color: $alt;
          }
        }
      }
    }
  }
}

.footer__heading {
  font-family: $primary;
  font-weight: 400;
  @include fsz(12px);
  line-height: 12px;
  color: $white;
  opacity: 0.75;
  text-transform: uppercase;
}

.footer-center {
  font-family: $primary;
  font-weight: 400;
  @include fsz(18px);
  line-height: 24px;
  color: $white;
  @media #{$header} {
    margin-bottom: 40px;
  }
  @media #{$phone} {
    margin-bottom: 10px;
  }
  .footer__heading {
    margin-bottom: 0px;
  }
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media #{$desktop} {
    flex-direction: row;
    justify-content: space-between;
    @media #{$phone} {
      flex-direction: column;
      justify-content: first baseline;
    }
  }
}
.footer-right__info {
  @extend .footer-center;

  .footer-right__header {
    display: flex;
    gap: 5px;
    align-items: center;
    svg {
      margin-bottom: 9px;
      opacity: 0.75;
    }
  }
}
.footer__info-link {
  @extend .footer-center;
}

.footer-left__bottom {
  position: relative;
  margin-top: auto;
  bottom: 100px;
  font-family: $primary;
  font-weight: 400;
  @include fsz(14px);
  line-height: 20px;
  color: $white;
  opacity: 0.72;
  @media #{$desktop} {
    bottom: 0;
    padding: 20px 0;
  }
}
